<!-- install bootstrap for refinery http://stackoverflow.com/questions/14759712/rails-bootstrap-navbar-and-refinerycms & install page layout: http://railscasts.com/episodes/332-refinery-cms-basics?view=comments-->

<nav id='navbar' class="navbar navbar-default" role="navigation">
  <!-- i18n languages -->
  <div id='locale' class="pull-right">
    <% ::Refinery::I18n.frontend_locales.each do |locale| %>
        <%= link_to_if Globalize.locale.to_s != locale.to_s, locale, {:locale => locale} %>
    <% end %>
  </div>
  <div id='menu-bar' class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <%= image_tag("home/logoBlack.png", :alt => "logo", :id => 'logo') %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
    </div>


  </div>
</nav>


