/*fonts*/

/*general/colors*/
$green: #318202
$bright-green: #64bc00
$orange: #fcc605

#page
  padding-bottom: 50px

/*slider*/

/*header*/
#menu-bar
  height: 20px
  color: $green

/*footer*/
.footer
  bottom: 0
  position: absolute
  width: 100%
  height: 20px
  background: $green

/**/

/**/

/**/

/**/